/* App.css */
/* body {
  font-family: Arial, sans-serif;
  background: #f8f9fa;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  } */
  #mainfeedback-container{
    
    margin: 60px !important;
    display: flex;
justify-content: center;
/* background-color: red !important; */
}


.feedback-form-container{
width: 50%;
border-radius: 30px;
margin: auto;
padding: 30px;
background-color: white;
}



.feedback-container {
  
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 5rem;
  width: 50%;
  text-align: center;
}

.feedback-form-container h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: rgba(223, 60, 60, 0.596);
  align-items: center;
}


.feedback-form-container p {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: rgb(0, 0, 0);
  text-align: center;
}



.feedback-emotions {
  display: flex;
  
  justify-content: space-between;
  margin-bottom: 1rem;
  flex-direction: row-reverse;
}

.emotion {
  width: 60px;
  color:#6c757d;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.emotion.selected {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.feedback-label {
  font-size: 1rem;
  color: #6c757d;
  margin: 1rem 0;
}

.feedback-form textarea {
  width: 100%;
  display: flex;
  margin:0px auto 1rem auto;
  justify-content: center;
  height: 80px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  padding: 0.5rem;
  /* margin-bottom: 1rem; */
  font-size: 0.9rem;
}

.feedback-form button {
  background: linear-gradient(to right, #4caf50, #8bc34a);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  /* transition: background 0.3s ease; */
}

.feedback-form button:hover {
  background: linear-gradient(to right, #8bc34a, #4caf50);
}

.thank-you-message {
  font-size: 18px;
  color: #4caf50;
  text-align: center;
  margin-top: 20px;
}



@media (max-width:768px){


  .feedback-container{
margin-top: 60%;
/* margin: 30px; */

  }



}
